body {
    color: #c8c8c8;
    background-color: #222222;
}

h4 {
    margin-bottom: 0px;
}

.block {
    padding: 2px;
    background-color: #3e3e3e;
}

.block > tbody {
    background-color: #333333;
	white-space: pre;
}

.maincolumn {
    vertical-align: top;
}

.statFloat {
	color: #c8676e;
}

.statLevel {
	color: #82ad6a;
}

.statTag {
	color: #888888;
}

.statDamage {
    color: #8888ff;
}

.cellLife {
    color: #d26063;
}

.cellPhys {
    color: #c6aba5;
}

.cellDex {
    color: #86bda3;
}


.cellInt {
    color: #a2cffb;
}

.cellFire {
    color: #f59675;
}

.cellCold {
    color: #a8d5e4;
}

.cellLight {
    color: #f8cb76;
}

.cellChaos {
    color: #d8a7d3;
}

.cellGem {
    color: #1ba29b;
}
