body {
    margin: 0px;
}

a {
    text-decoration: none;
}

td {
    white-space: nowrap;
}

h3 {
    color: #909090;
}

table {
	
}

iframe {
    height: 100%;
    width: 100%;
    border: 0px; 
    background-color: #444444;
}

.maindiv {
    width:40%; 
    position:fixed;
     overflow-x:hidden; 
     overflow-y:scroll; 
     height:100%; 
     display:grid;
     background-color: #181818;
}

.mt {
    margin-left:40%;
}

.linknormal {
    color: #909090;
}

.linkboss {
    color: #af5f1c;
}

.m0 {
    color: #8888ff;
}

.m1 {
    color: #c8bdbe;
}

.m2 {
    color: #c9b1b2;
}

.m3 {
    color: #ca9999;
}

.m4 {
    color: #cb8080;
}

.m5 {
    color: #cc6868;
}

.m6 {
    color: #ce5556;
}

.m7 {
    color: #cf3d3e;
}

.m8 {
    color: #d12525;
}

.m9 {
    color: #d20000;
}

.icon {
	width: 16px;
}

/*
NORML: color: #c8c8c8;
MAGIC: color: #8888ff;

font-weight: bold
*/